<span>
<% for (var i = 0; i < children.length; i+=1) { -%>
    <!-- <%= children[i].name %> -->
    <c-<%= children[i].id %> params="context: context"></c-<%= children[i].id %>>
<% } -%>
<% for (var i = 0; i < events.length; i += 1) { -%>
  <% if (events[i].stereotype == 'system') { -%>
    <c-<%= events[i].id %> params="fire: trigger.bind($data,'<%= events[i].id %>')"></c-<%= events[i].id %>>
  <% } else { -%>
    <a class="waves-effect waves-light btn cyan col s12" data-bind="click: trigger.bind($data,'<%= events[i].id %>')"><%= events[i].name %></a>
  <% } -%>
<% } -%>
</span>
